.footer {
  max-width: 100%;
  background: #307fe2;
  @media screen and (max-width: 575px) {
    padding: 91px 35px 80px 35px;
  }
  @media screen and (max-width: 1099px) {
    padding: 50px 15px 50px 15px;
  }
  @media screen and (min-width: 1100px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 74px 40px 60px 40px;
  }
}

.footer-logo {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  & > img {
    max-width: 100%;
  }
  @media screen and (min-width: 1100px) {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  & > li {
    font-family: "Gotham";
    max-width: 632px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.25px;
  }
  & > li:not(:last-child) {
    margin-right: 30px;
  }
  & > li > a {
    color: #fcd757;
  }
  @media screen and (min-width: 580px) {
    & > li {
      font-size: 18px;
    }
    & > li:not(:last-child) {
      margin-right: 40px;
    }
    & > li > a {
      color: #fcd757;
    }
  }
  @media screen and (min-width: 1100px) {
    margin-bottom: 0;
    & > li {
      font-size: 24px;
    }
  }
}

.footer_soc {
  display: flex;
  align-self: center;
  justify-content: center;
  & > li {
    font-family: "Gotham";
    max-width: 632px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.25px;
    margin-right: 15px;
  }
  & > li > a {
    color: #fcd757;
  }
  @media screen and (min-width: 580px) {
    & > li {
      font-size: 20px;
    }
    & > li:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1100px) {
    flex-direction: column;
    & > li {
      font-size: 28px;
    }
    & > li:not(:last-child) {
      margin-bottom: 70px;
    }
  }
}
