.header {
display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 24px 15px;
    background: rgba(35, 35, 35, 0.5);
}

.nav {
  display: flex;
  justify-content: space-between;
  & > button {
      background-color: inherit;
      border: none;
      padding: 10px 8px;
    }
    align-items: center;
    & > ul {
        display: flex;
            align-items: center;
    }
}

.nav_link {
    font-family: "Montserrat";
    font-weight: 700;
    padding: 10px 16px;
        margin-right: 32px;
}